/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-toolbar {
    --background: #ffffff; 
    --color: #000000; 
}

ion-content {
    --background: #ffffff !important; 
    --color: #000000 !important; 
}

ion-input {
    --background: #ffffff; 
    --color: #000000; 
    --placeholder-color: #a9a9a9; 
}

ion-item {
    --background: #ffffff; 
    --color: #000000; 
    --border-color: #dcdcdc; 
}

ion-card {
  --background: #ffffff; 
  --color: #000000; 
}

ion-card-header {
  --background: transparent; 
  --color: #000000; 
}

ion-card-title {
  --color: #000000;
}

ion-card-content {
  --background: transparent; 
  --color: #000000; 

}


/* Estilo del logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px; 
  margin-bottom: 30px; 
}


.logo {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
}


.logo-icono {
  font-size: 72px; 
  color: #0cd1e8; 
  margin-right: 15px;
}


.logo-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.logo-tellevo {
  font-size: 58px;
  font-weight: bold;
  color: #3880ff; 
}

.logo-app {
  font-size: 33px;
  font-weight: bold;
  color: #ffce00; 
  letter-spacing: 2px; 
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}