/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-toolbar {
    --background: #ffffff; 
    --color: #000000; 
}

ion-content {
    --background: #ffffff !important; 
    --color: #000000 !important; 
}

ion-input {
    --background: #ffffff; 
    --color: #000000; 
    --placeholder-color: #a9a9a9; 
}

ion-item {
    --background: #ffffff; 
    --color: #000000; 
    --border-color: #dcdcdc; 
}


.logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3880ff; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #0cd1e8; 
  }
  
 
  .logo-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
  