<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenide {{name}}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 font-weight: bold;>
    Elige tu modo:
  </h3>

  <ion-card class="card-ofrece">
    <img alt="Modo ofrece viajes" src="assets\images\modo-ofrece-viajes.png" />
    <ion-card-header>
      <ion-card-title>Ofrece viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este modo te permitirá ofrecer viajes a otros estudiantes del Duoc y ganar dinero.
      <ion-button expand="block" (click)="goToOfferServices()">Ir</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-busca">
    <img alt="Modo busca transporte" src="assets\images\modo-busca-transporte.png" />
    <ion-card-header>
      <ion-card-title>Busca transporte</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Este modo te permitirá buscar transporte proporcionado por otros estudiantes del Duoc.
      <ion-button expand="block" (click)="goToSearchServices()">Ir</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
