<ion-header [translucent]="true" style="text-align: center;">
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <ion-header collapse="condense" style="width: 100%; text-align: center;">
    <ion-toolbar>
      <ion-title style="display: flex; flex-direction: column; align-items: center; justify-content: center;" size="large">Error 404</ion-title>
      <p>La página que buscas no existe.</p>
      <ion-button routerLink="/login">Volver al inicio</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-content>

