<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <div class="logo">
      <span class="logo-icono" id="logo">
        <ion-icon name="car-sport-outline"></ion-icon>
      </span>
      <div class="logo-texto">
        <span class="logo-tellevo">TeLlevo</span>
        <span class="logo-app">APP</span>
      </div>
    </div>
  </div>

  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" name="usuario" [(ngModel)]="usuario.usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="string" name="telefono" [(ngModel)]="usuario.telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="contrasena" [(ngModel)]="usuario.contrasena" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Selecciona una sede</ion-label>
      <ion-select placeholder="Seleccione una sede" [(ngModel)]="usuario.sede" name="sede" required>
        <ion-select-option value="alameda">Sede Alameda</ion-select-option>
        <ion-select-option value="padre-alonso">Sede Padre Alonso de Ovalle</ion-select-option>
        <ion-select-option value="antonio-varas">Sede Antonio Varas</ion-select-option>
        <ion-select-option value="educacion-continua">Sede Educación Continua</ion-select-option>
        <ion-select-option value="maipu">Sede Maipú</ion-select-option>
        <ion-select-option value="melipilla">Sede Melipilla</ion-select-option>
        <ion-select-option value="plaza-norte">Sede Plaza Norte</ion-select-option>
        <ion-select-option value="plaza-oeste">Sede Plaza Oeste</ion-select-option>
        <ion-select-option value="vespucio">Sede Vespucio</ion-select-option>
        <ion-select-option value="puente-alto">Sede Puente Alto</ion-select-option>
        <ion-select-option value="san-bernardo">Sede San Bernardo</ion-select-option>
        <ion-select-option value="san-carlos">Sede San Carlos de Apoquindo</ion-select-option>
        <ion-select-option value="san-joaquin">Sede San Joaquín</ion-select-option>
        <ion-select-option value="valparaiso">Sede Valparaíso</ion-select-option>
        <ion-select-option value="vina-del-mar">Sede Viña del Mar</ion-select-option>
        <ion-select-option value="arauco">Campus Arauco</ion-select-option>
        <ion-select-option value="nacimiento">Campus Nacimiento</ion-select-option>
        <ion-select-option value="san-andres">Sede San Andrés de Concepción</ion-select-option>
        <ion-select-option value="villarrica">Campus Villarrica</ion-select-option>
        <ion-select-option value="puerto-montt">Sede Puerto Montt</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Crear cuenta</ion-button>
  </form>
</ion-content>
