<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>. </ion-text> <!-- {{ user.name }}-->
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>.</ion-text> <!-- {{ user.email }} -->
      </ion-item>
      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-text>.</ion-text> <!-- {{ user.phone }} -->
      </ion-item>
      <ion-button id="open-edit-user-modal" expand="block">Editar</ion-button>
      
      <ion-modal trigger="open-edit-user-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="dismissEditModal() ">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Editar Datos del Usuario</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form> <!-- (ngSubmit)="submitEditUser()" -->
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" name="name"  required></ion-input><!-- [(ngModel)]="user.name" -->
              </ion-item>

              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" name="email" required></ion-input><!-- [(ngModel)]="user.email"  -->
              </ion-item>

              <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input type="text" name="phone" required></ion-input><!--  [(ngModel)]="user.phone"-->
              </ion-item>

              <ion-button expand="block" type="submit" (click)="confirmEditModal()">Guardar cambios</ion-button>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vehículos Registrados</ion-card-title>
    </ion-card-header>
    
    <ion-card-content > <!-- *ngFor="let vehiculo of vehiculos"-->
      <ion-item>
        <ion-label>Datos vehiculo</ion-label><!-- {{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.patente }}-->
        <ion-button color="danger">Borrar</ion-button><!--  (click)="deleteVehicle(vehiculo)" -->
      </ion-item>
    </ion-card-content>
    
    <ion-button id="open-add-vehicle-modal" expand="block">Agregar Vehículo</ion-button>
    <ion-modal trigger="open-add-vehicle-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="dismissAddVehicleModal()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Agregar Vehículo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form> <!-- (ngSubmit)="addVehicle()" -->
            <ion-item>
              <ion-label position="floating">Marca</ion-label>
              <ion-input type="text" name="marca" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Modelo</ion-label>
              <ion-input type="text" name="modelo" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Patente</ion-label>
              <ion-input type="text" name="patente" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Color</ion-label>
              <ion-input type="text" name="color" required></ion-input>
            </ion-item>

            <ion-button expand="block" type="submit">Agregar Vehículo</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>
</ion-content>
